<h1>Listing Destinations</h1>
  <div class="row">
    <% @destinations.each do |destination| %>
      <div class="col-md-4">
        <div class="panel panel-default">
          <%= link_to destination do %>
            <div class="panel-heading">
              <h3 class="panel-title">
                <%= destination.city %>, <%= destination.country %>
              </h3>
            </div>
          <% end %>
        <div class="panel-body">
        <% if destination.photo_file_name != nil %>
          <%= image_tag destination.photo.url(:medium), class: 'img-responsive' %>
        <% end %>
        <p>
          <%= link_to destination do %>
            <%= destination.description[0..15] %>
          <% end %>
        </p>
        <%= link_to 'Edit', edit_destination_path(destination) %>
        <%= link_to 'Destroy', destination, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
      </div>
    <% end %>
  </div>
<br>

<%= link_to 'New Destination', new_destination_path %>


 